WATCHTOWER_CLEANUP=true
# Update all containers daily at 4am server time
WATCHTOWER_SCHEDULE=0 0 4 * * *
# Your server timezone — find yours at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/London
